.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  min-width: 400px;
  max-width: 400px;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
  // max-width: 300px; /* Ancho máximo del formulario */
}

