<div class="new-customer-container" *ngIf="customer">
  <h3 style="text-align: center; margin-top: 10px">{{ data.title }}</h3>
  <div mat-dialog-content>
    <div class="element-form">
      <label class="label-description">First name: </label>
      <label> {{ customer.firstName }}</label>
    </div>
    <div class="element-form">
      <label class="label-description">Last name:</label>
      <label> {{ customer.lastName }}</label>
    </div>
    <div class="element-form">
      <label class="label-description">Phone:</label>
      <label> {{ customer.phone }}</label>
    </div>
    <div class="element-form">
      <label class="label-description">City:</label>
      <label> {{ customer.city }}</label>
    </div>
    <div class="element-form">
      <label class="label-description">Country:</label>
      <label> {{ customer.country }}</label>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
