tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.table-expanded {
  width: 100%;
  margin: 1% 3%;
}

.paginator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.buttons-container div:first-child{
  margin-top: 5px;
}
